<div class="container">

<nav>
  <img src="./logo.png" alt="Logo" class="logo">
  <a href="./add-event" alt="Aggiungi Evento"><img src="./addIcon.png" alt="Aggiungi Evento"></a>
  <a class="nav-link" href="./menu-category-list">menu</a>
  <a class="nav-link" href="./users-list">users</a>
</nav>

  <h2>Lista Eventi</h2>
  
  <ul class="event-list">
    @for (event of events; track event.id) {
      <li class="event-card">
        <h3>{{ event.name }}</h3>
        <p class="description">{{ event.description }}</p>
        <small>Data: {{ event.date | date:'dd/MM/yyyy HH:mm' }}</small>
      </li>
    } @empty {
      <p class="no-data">Nessun evento trovato nel database.</p>
    }
  </ul>
</div>