<div class="container">
  <nav>
    <img src="./logo.png" alt="Logo" class="logo">

    @if (isLoggedIn()) {
      <a [routerLink]="['/add-button']">
        <img src="./addIcon.png" alt="Aggiungi">
      </a>
      
      <a class="nav-link" routerLink="/users-list">users</a>
    }

    <a class="nav-link" routerLink="/menu-category-list">menu</a>

    @if (!isLoggedIn()) {
      <a class="nav-link" routerLink="/login">login</a>
    } @else {
      <a class="nav-link" (click)="logout()" style="cursor: pointer;">logout</a>
    }
  </nav>
  
  <h2>Lista Eventi</h2>
  
  <ul class="event-list">
    @for (event of events; track event.id) {
      @if (event.active  || isLoggedIn()) {
        <li class="event-card" [class.inactive-event]="!event.active">
          <a [routerLink]="['/events', event.id]" style="display: block; text-decoration: none; color: inherit;">
            <h3>{{ event.name }}</h3>
            <p class="description">{{ event.description }}</p>
            <p class="description"><strong>Genere:</strong> {{ event.genre }}</p>
            <small>Data: {{ event.date | date:'dd/MM/yyyy HH:mm' }}</small>
          </a>
        </li>
      }
    } @empty {
      <li class="no-data" style="list-style: none;">Nessun evento trovato nel database.</li>
    }
  </ul>
</div>