<div class="menu-category-container">
  <h2>Aggiungi categoria menu</h2>

  <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()" class="menu-category-form">
    <label for="type">Nome categoria</label>
    <input id="type" formControlName="type" type="text" placeholder="Inserisci il nome della categoria" />
    <button type="button" class="back-btn" routerLink="/menu-category-list">Torna alla lista</button>
    <button type="submit" [disabled]="categoryForm.invalid">Salva categoria</button>
  </form>
</div>
